{% extends 'core/game.html' %}
{% load static %}
{% load i18n %}

{% block css %}
   {{ block.super }}
        <link rel="stylesheet" href="{% static 'character/css/character.css' %}">
{% endblock %}


{% block game_content %}
        <div class="col-4" id="character-attributes">
            <ul>
                 <form method="post">
                <li class='add-attr'>
                    Strength:
                    {{ character_attributes.strength }}
                <a href="{% url 'character:CharacterView' attr='strength' %}">+</a>
                </li>
                <li class='add-attr'>
                    Agility:
                    {{ character_attributes.agility }}
                 <a href="{% url 'character:CharacterView' attr='agility' %}">+</a>
                </li>
               <li class='add-attr'>
                    Defense:
                    {{ character_attributes.defense }}
                   <a href="{% url 'character:CharacterView' attr='defense' %}">+</a>
                </li>
                <li class='add-attr'>
                    Durability:
                    {{ character_attributes.durability }}
                    <a href="{% url 'character:CharacterView' attr='durability' %}">+</a>
                </li>
                <li class='add-attr'>
                    Luck:
                    {{ character_attributes.luck }}
                    <a href="{% url 'character:CharacterView' attr='luck' %}">+</a>
                </li>
            </ul>
        </div>
        <div class="col-8" style="height: 90%;">
            <div class="banner">
                <img src="{% static '/character/images/chess-knight.png' %}" class="character-image">
            </div>
        </div>
    {% block javascript %}{% endblock %}
{% endblock %}