{% extends 'core/game.html' %}

{% block game_content %}
    <div class="col-12 edit-profie-header">
        <h2>Edytuj profil</h2>
    </div>
   <div class="col-12 edit-profile-form-container">
        <form method="post" class="edit-profile-form" enctype="multipart/form-data" action="">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit">UPDA</button>
        </form>
   </div>
    <a style="text-decoration: none;" href="{% url 'password_change' %}"><h2 style="text-align: center; color: white;">ZMIEN HASLO</h2></a>
{% endblock %}
