{% extends 'core/base.html' %}

{% block content %}

<div class="row">
    <div class="col-lg-4 login-form-error">
        {% if form.errors %}
        <p>Password are not the same</p>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="login-form">
        <form method="post" action="{% url 'signup' %}">{% csrf_token %}
            <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
            </div>
            <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email}}
            </div>
            <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
            </div>
             <div class="form-group">
            {{ form.repeat_password.label_tag }}
            {{ form.repeat_password }}
            </div>
            <button id="loginBtn" type="submit" value="login" class="">Signup</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>
<div class="row">
    <div class="register">
        <a href="{% url 'login' %}">Jeśli masz konto - zaloguj się!</a>
        <a href="{% url 'password_reset' %}">Zapomniales hasla?</a>
    </div>
</div>
{% endblock %}