body {
    background-image: url('../images/background.jpg');
    color: white;
}

a {
    color: white;
}
.game-container {
    height: 80vh;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px grey;

    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menu-item {
    display: block;
    padding: 6px;
    background: black;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px grey;
    margin: 5px;
    text-decoration: none;
    width: 70%;
    letter-spacing: 1px;
    margin-bottom: 15%;
}

.menu-item:hover{
    transform: scale(1.05);
    cursor: pointer;
    background: grey;
}

.menu {
    border-right: solid 2px red;
    height: 80%;
}

.game-title {
    padding-bottom: 10px;
    text-align: center;
    font-size: 3rem;
    color: #a01d10;
    font-family: 'Bellefair', serif;
    font-weight: 700;
    letter-spacing: 5px;
    text-shadow:
            4px 4px 1px #300000,
            4px 6px 1px #400000,
       4px 8px 1px #500000,
       4px 10px 1px #600000,
       4px 12px 1px #700000,
       4px 14px 1px #800000,
       4px 16px 1px #900000,
       4px 18px 1px #A00000,
       4px 20px 1px #B00000,
       4px 22px 1px #C00000,
       4px 24px 1px #D00000,
       4px 26px 1px #E00000,
       4px 28px 1px #F00000,
       4px 30px 1px #FA0000,
       4px 32px 1px #FB0000,
       4px 34px 1px #FC0000,
       4px 36px 1px #FD0000,
       4px 38px 1px #FE0000,
       4px 40px 2px #FF0000;


}

.login-title {
    width: 60%;
    margin: 10px auto;
    text-align: center;
    padding: 1%;
    margin-bottom: 11px;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 2px 2px #222222;
    letter-spacing: 2px;
    box-shadow: 1px 1px rgba(0,0,0,0);
    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.form-group {
    margin: 10px auto;
    color: #222222;
}

.form-group label {
    display: inline-block;
    width: 20%;
    font-weight: 700;
    letter-spacing: 2px;
}
.form-group input {
    display: inline-block;
    width: 40%;
    height: 30px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.form-group input:focus {
    transform: scale(1.02);
    outline: none;
}

.login-form button {
    width: 60%;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;

    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.login-form-error {
    margin: 0 auto;

}

.login-form {
    margin: 0 auto;
    text-align: center;
}


.register {
    width: 60%;
    margin: 0 auto;
    text-align: right;
}

.register a {
    color: black;

}

.container {
    width: 98% !important;
    max-width: 98vw !important;
}

.character-bar-info {
    color: white;
    margin: 3%;
    display: inline;
}

.character-info {
    text-align: center;
    max-height : 15%;
    border-bottom: 2px solid red;
}

.avatar {
    height: 70%;
    padding: 4px;
    border-radius: 10px;
    float: left;
}

.edit-profie-header {
    text-align: center;
}
.edit-profie-header > h2 {
    color: white;
}

.edit-profile-form-container {
    text-align: center;
}

.edit-profile-form {
    color: white;
}
.edit-profile-form > label{
    color: white;

}

.edit-profile-form > a, input[name=avatar-clear], label[for=avatar-clear_id]{
    display: none;
}

