{% load i18n %}
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block fonts %}
        <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
    {% endblock %}


    {% block css %}
        <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/simple-grid.min.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block icon %}
        <link rel="icon" href="{% static 'core/images/icon.png' %}">
    {% endblock %}

    {% block title %}
        <title>BattleClone</title>
    {% endblock %}


</head>
<body>
<div class="container">
        {% block game_header %}
        <div class="row" style="margin-bottom: 2%;">
            <div class="col-12 game-title">
                Battle Clone Browser Game
            </div>
        </div>
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>
</body>
{% block js %}
{% endblock %}

{% block extra_js %}
{% endblock %}

</html>