{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="row">
    <div class="col-12 game-container">
        <div class="col-12 character-info">
            <div class="col-1 character-bar-info">
                {% if object.avatar %}
                <img src="{{ object.avatar.url }}" class="avatar">
                {% endif %}
            </div>
            <div class="col-2 character-bar-info">
                    {{ object.character.nickname}}
            </div>
            <div class="col-2 character-bar-info">
                {% trans 'Level:' %}
                {{ object.character.level}}
            </div>
            <div class="col-2 character-bar-info">
                {% trans 'Exp:' %}
                {{ object.character.experience_points}}/100
            </div>
                <div class="col-2 character-bar-info">
                 {% trans 'Health:' %}
                {{ object.character.health}}
            </div>
                <div class="col-2 character-bar-info">
                 {% trans 'Points:' %}
                {{ object.character.action_points}}
            </div>
        </div>

    {% block menu %}
        <div class="col-2 menu">
        {% include 'core/includes/menu.html' %}
        </div>
        <div class="col-9" style="height: 75vh; max-height: 100%;">
            {% block game_content %}
            {% endblock %}
        </div>
    {% endblock %}
    </div>
</div>
{% endblock %}
